*{
  margin: 0;
  padding: 0;
  // box-sizing: inherit;
}   

body {
  // background-image: url("../images/temp-bkground.png");
  background-image: url("../images/temp-bkground.png");
  background-size: cover;
  height: 110vh;
  background-color: $extralightGrey;
  // // padding-top: 20px;
  // padding-left: 20px;
}

button {
  border: none;
  background: none;
  // cursor: grab;
}

.modal {
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
  line-height: 1.2em;
  position: absolute;
  top: 10em;
  left: 20%;
  // right: 15%;
  // bottom: 10em;
  width: 40em;
  background-color: $extralightGrey;
  border-radius: 0.4em;
  border-style: none;
  padding: 1.9em;
  z-index: 4;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 3;
}

.inner-container {

  // height: 110vh;
  // width: 50%;
}

.noteContainer {
  display: flexbox;
  align-items: flex-end;
  flex-wrap: wrap;
  height: 220px;
  // width: 60%;
  // grid-template-columns: repeat(3, 1fr);
}

.noteCard {
  display: flexbox;
  width: 18em;
  box-shadow: 3px 3px 4px 3px rgba(0, 0, 0, 0.06);
  // height: 8em;
  // background: radial-gradient(
  //   rgba(210, 210, 210, 1),
  //   rgba(200, 200, 200, 1)
  //   );
  background-color: rgba(210, 210, 210, 1);
  border-radius: 0.4em;
  padding: 1.9em;
  margin: 1.2em;
  font-family: 'Montserrat', sans-serif;
  // font-family: 'Raleway', sans-serif;
  // font-family: 'Inconsolata', monospace;
  // color: $lightGrey;
  opacity: 98%;
  font-size: 0.9em;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.noteDetailsList {
  // outline: 1px solid transparent;
  list-style-type: none;
}

// .noteDetail {

// }
